<!DOCTYPE html>
<html lang="en">

    <body class="nav-md">
                        <!-- page content -->
                        <%- include('../admin-pages/mo/edit-participant-content.ejs') %>
                        
        <%- include('../admin-partials/scripts.ejs') %>
    </body>

</html>