<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Programming Contest /<small>register a new team </small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="POST" action="/ProgContest/register" id="demo-form2" data-parsley-validate
                            class="form-horizontal form-label-left">
                            <div class="row">
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Team Name" id="teamname" name="teamname" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Institution Name" id="institution" name="institution" required="required" class="form-control">
                                </div>
                            </div>
                            <h2>Information Regarding the Coach</h2>
                            <div class="row">
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Name of the Coach" id="coachname" name="coachname" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Contact No. of the Coach" id="coachcontact" name="coachcontact" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="E-mail of the Coach" id="coachmail" name="coachmail" required="required" class="form-control">
                                </div>
                                <label class="col-form-label"><b>T-Shirt Size of the Coach</b></label><br/>
                                <div class="col-md-4 col-sm-12  form-group"><br/>
                                    <select class="form-control" id="coachtshirt" name="coachtshirt" required="required">
                                        <option>--- Choose Option ---</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra Large</option>
                                    </select>
                                </div>
                            </div>

                            <br />
                            <h2>Information Regarding the Team Leader</h2>
                            <div class="row">
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Name of the Team Leader" id="leadername" name="leadername" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Contact No. of the Team Leader" id="leadercontact" name="leadercontact" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="E-mail of the Team Leader" id="leadermail" name="leadermail" required="required" class="form-control">
                                </div>
                                <label class="col-form-label"><b>T-Shirt Size of the Team Leader</b></label><br />
                                <div class="col-md-4 col-sm-12  form-group"><br />
                                    <select class="form-control" id="leadertshirt" name="leadertshirt" required="required">
                                        <option>--- Choose Option ---</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra Large</option>
                                    </select>
                                </div>
                            </div>

                            <br />
                            <h2>Information Regarding Member - 1</h2>
                            <div class="row">
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Name of Member - 1" id="member1name" name="member1name" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Contact No. of Member - 1" id="member1contact" name="member1contact" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="E-mail of Member - 1" id="member1mail" name="member1mail" required="required" class="form-control">
                                </div>
                                <label class="col-form-label"><b>T-Shirt Size of Member - 1</b></label><br />
                                <div class="col-md-4 col-sm-12  form-group"><br />
                                    <select class="form-control" id="member1tshirt" name="member1tshirt" required="required">
                                        <option>--- Choose Option ---</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra Large</option>
                                    </select>
                                </div>
                            </div>

                            <br />
                            <h2>Information Regarding Member - 2</h2>
                            <div class="row">
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Name of Member - 2" id="member2name" name="member2name" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="Contact No. of Member - 2" id="member2contact" name="member2contact" required="required" class="form-control">
                                </div>
                                <div class="col-md-4 col-sm-12  form-group">
                                    <input type="text" placeholder="E-mail of Member - 2" id="member2mail" name="member2mail" required="required" class="form-control">
                                </div>
                                <label class="col-form-label"><b>T-Shirt Size of Member - 2</b></label><br />
                                <div class="col-md-4 col-sm-12  form-group"><br />
                                    <select class="form-control" id="member2tshirt" name="member2tshirt" required="required">
                                        <option>--- Choose Option ---</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra Large</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>